* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.parentLayout {
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}

.parentLayout {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.layoutHeader {
  padding: 2rem;
  grid-column: 1 / 4;
}

.layoutLeft{
  grid-column: 1 / 2;
}

.layoutMain {
  grid-column: 2 / 3;
}

.layoutRight {
  grid-column: 3 / 4;
}

.layoutFooter {
  grid-column: 1 / 4;
}
